.App {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.main-content {
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.field-modules-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.field-modules,
.field-selected {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  width: 30%;
}
