.field-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0%;
  margin: 0%;
}

h1 {
  font-size: 28px;
  margin-left: 3%;
}

.field-modules-container {
  display: flex; 
  flex-direction: row; 
  padding: 20px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.field-modules {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  width: 40%; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: auto; 
}

.field-selected {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  width: 40%; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: auto; 
  max-height: 400px; 
  overflow-y: scroll;
}

.field-selected h1 {
  font-size: 18px;
  background-color: #CFF8E0;
  padding: 2%;
}

.field-selected ul {
  list-style: none;
  background-color: #f3f2f2;
  margin-left: 3%;
}

.field-selected li {
  margin-bottom: 10px;
  padding: 2%;
}

select {
  margin-left: 20%;
  padding: 1%;
  background-color: white;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  margin-bottom: 4%;
}

button {
  bottom: 10px;
  padding: 10px 20px;
  background-color: #63ca8e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

// .selected-data-container {
//   flex: 1;
//   overflow-y: scroll;
//   padding: 20px;
//   box-sizing: border-box;
//   background-color: #fff;
// }
