.Sidebar {
  border-radius: 0px 58px 58px 0px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-sizing: border-box;
  width: 17%;
  height: 100vh;
  z-index: 10;
}
.image-container {
  margin: 12px 0px 20px 12px;
}

.module-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.module-tile {
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin: 3% 0;
  padding: 0% 4%;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  font-size: 14px;
  color: #6b6b6b;
}

.module-tile:hover {
  background-color: rgba(231, 229, 229, 0.815);
}

.module-tile.active {
  background-color: #0b353f;
  color: rgb(255, 255, 255);
}

.module-tile .MuiSvgIcon-root {
  margin-right: 10px;
  color: black;
}

.module-tile.active .MuiSvgIcon-root {
  color: #03e67c;
}
